<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plugins</title>

    <link rel="stylesheet" href="/assets/css/uikit.min.css" />

    <script src="/assets/js/jquery-3.6.1.min.js"></script>
    <script src="/assets/js/uikit-icons.min.js"></script>
    <script src="/assets/js/uikit.min.js"></script>

    @RenderSection("SetupScripts", required: false)
</head>
<body>
    @RenderBody()
    @RenderSection("PostScripts", required: false)
</body>
</html>